absl-py==2.3.1
aiobotocore==2.25.1
aiofiles==25.1.0
aiohttp==3.9.4
aiohttp-cors==0.8.1
aioitertools==0.12.0
aiosignal==1.4.0
aiounittest==1.5.0
alabaster==0.7.16
anyio @ file:///home/conda/feedstock_root/build_artifacts/anyio_1728935693959/work
appnope @ file:///Users/cbousseau/work/recipes/ci_py311/appnope_1677917710869/work
argon2-cffi @ file:///home/conda/feedstock_root/build_artifacts/argon2-cffi_1640817743617/work
argon2-cffi-bindings @ file:///Users/runner/miniforge3/conda-bld/argon2-cffi-bindings_1725356591756/work
arrow @ file:///home/conda/feedstock_root/build_artifacts/arrow_1733584251875/work
asttokens @ file:///home/conda/feedstock_root/build_artifacts/asttokens_1618968359944/work
astunparse==1.6.3
async-lru @ file:///home/conda/feedstock_root/build_artifacts/async-lru_1733584297267/work
attrs @ file:///home/conda/feedstock_root/build_artifacts/attrs_1733519953311/work
autograd==1.8.0
azure-core==1.36.0
azure-storage-blob==12.27.1
babel @ file:///home/conda/feedstock_root/build_artifacts/babel_1738490167835/work
backports.functools_lru_cache @ file:///home/conda/feedstock_root/build_artifacts/backports.functools_lru_cache_1735112056482/work
beautifulsoup4 @ file:///home/conda/feedstock_root/build_artifacts/beautifulsoup4_1733230845337/work
bitshuffle==0.5.2
bleach @ file:///home/conda/feedstock_root/build_artifacts/bleach_1629908509068/work
bokeh==3.7.3
botocore==1.40.61
Brotli @ file:///Users/runner/miniforge3/conda-bld/brotli-split_1687884292427/work
cached-property @ file:///home/conda/feedstock_root/build_artifacts/cached_property_1615209429212/work
certifi==2025.10.5
cffi==2.0.0
cfgv==3.4.0
cftime==1.6.4.post1
charset-normalizer==3.4.4
click==8.2.1
cloudpickle==3.1.2
colorama==0.4.6
comm @ file:///home/conda/feedstock_root/build_artifacts/comm_1704278392174/work
config==0.5.1
contourpy==1.3.2
coverage==7.9.1
cryptography==46.0.3
cycler==0.12.1
Cython==3.1.6
dask==2025.10.0
debugpy @ file:///Users/runner/miniforge3/conda-bld/debugpy_1680755682866/work
decorator @ file:///home/conda/feedstock_root/build_artifacts/decorator_1740384970518/work
defusedxml @ file:///home/conda/feedstock_root/build_artifacts/defusedxml_1615232257335/work
Deprecated==1.3.1
distlib==0.3.9
docopt==0.6.2
docutils==0.18.1
entrypoints @ file:///home/conda/feedstock_root/build_artifacts/entrypoints_1733327148154/work
et_xmlfile==2.0.0
exceptiongroup @ file:///home/conda/feedstock_root/build_artifacts/exceptiongroup_1746947292760/work
executing @ file:///home/conda/feedstock_root/build_artifacts/executing_1646044401614/work
fastjsonschema @ file:///home/conda/feedstock_root/build_artifacts/python-fastjsonschema_1663619548554/work/dist
filelock==3.18.0
flatbuffers==25.2.10
flit_core @ file:///home/conda/feedstock_root/build_artifacts/flit-core_1742900825573/work/source/flit_core
fonttools==4.58.4
fqdn @ file:///home/conda/feedstock_root/build_artifacts/fqdn_1733327382592/work/dist
frozenlist==1.8.0
fsspec==2025.10.0
gast==0.6.0
geojson==3.2.0
git-lfs==1.6
google-pasta==0.2.0
greenlet==3.2.3
grpcio==1.74.0
h11 @ file:///home/conda/feedstock_root/build_artifacts/h11_1733327467879/work
h2 @ file:///home/conda/feedstock_root/build_artifacts/h2_1738578511449/work
h5netcdf==1.6.2
h5py==3.14.0
h5pyd==0.23.0
hpack @ file:///home/conda/feedstock_root/build_artifacts/hpack_1737618293087/work
hsds==0.9.4
httpcore @ file:///home/conda/feedstock_root/build_artifacts/httpcore_1699629103338/work
httpx @ file:///home/conda/feedstock_root/build_artifacts/httpx_1708530890843/work
hyperframe @ file:///home/conda/feedstock_root/build_artifacts/hyperframe_1737618333194/work
identify==2.6.12
idna==3.11
imagesize==1.4.1
importlib_metadata @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_importlib-metadata_1747934053/work
importlib_resources @ file:///home/conda/feedstock_root/build_artifacts/importlib_resources_1736252299705/work
ipykernel @ file:///Users/runner/miniforge3/conda-bld/ipykernel_1719845458456/work
ipympl==0.9.7
ipyparallel==9.0.1
ipython @ file:///home/conda/feedstock_root/build_artifacts/ipython_1725050136642/work
ipython_genutils @ file:///home/conda/feedstock_root/build_artifacts/ipython_genutils_1733399582966/work
ipywidgets==8.1.7
isodate==0.7.2
isoduration @ file:///home/conda/feedstock_root/build_artifacts/isoduration_1733493628631/work/dist
jax==0.6.2
jaxlib==0.6.2
jedi @ file:///home/conda/feedstock_root/build_artifacts/jedi_1696326070614/work
Jinja2 @ file:///home/conda/feedstock_root/build_artifacts/jinja2_1733217336947/work
jmespath==1.0.1
joblib==1.5.1
json5 @ file:///tmp/build/80754af9/json5_1624432770122/work
jsonpointer @ file:///Users/runner/miniforge3/conda-bld/jsonpointer_1725302946874/work
jsonschema @ file:///home/conda/feedstock_root/build_artifacts/jsonschema_1733472696581/work
jsonschema-specifications @ file:///home/conda/feedstock_root/build_artifacts/jsonschema-specifications_1689701150890/work
jupyter-book==0.14.0
jupyter-cache==0.6.1
jupyter-events @ file:///home/conda/feedstock_root/build_artifacts/jupyter_events_1733441322938/work
jupyter-lsp @ file:///home/conda/feedstock_root/build_artifacts/jupyter-lsp-meta_1685453365113/work/jupyter-lsp
jupyter_client @ file:///home/conda/feedstock_root/build_artifacts/jupyter_client_1673615989977/work
jupyter_core @ file:///home/conda/feedstock_root/build_artifacts/jupyter_core_1727163409502/work
jupyter_server @ file:///home/conda/feedstock_root/build_artifacts/jupyter_server_1720529946765/work
jupyter_server_terminals @ file:///home/conda/feedstock_root/build_artifacts/jupyter_server_terminals_1673491454549/work
jupyterlab @ file:///home/conda/feedstock_root/build_artifacts/jupyterlab_1724745148804/work
jupyterlab-pygments @ file:///home/conda/feedstock_root/build_artifacts/jupyterlab_pygments_1601375948261/work
jupyterlab_server @ file:///home/conda/feedstock_root/build_artifacts/jupyterlab_server_1733599573484/work
jupyterlab_widgets==3.0.15
keras==3.11.1
kiwisolver==1.4.8
latexcodec==3.0.1
libclang==18.1.1
linkify-it-py==2.0.3
locket==1.0.0
lxml @ file:///Users/runner/miniforge3/conda-bld/lxml_1713572508466/work
Markdown==3.8.2
markdown-it-py==2.2.0
MarkupSafe @ file:///Users/runner/miniforge3/conda-bld/markupsafe_1733219682943/work
matplotlib==3.10.3
matplotlib-inline @ file:///home/conda/feedstock_root/build_artifacts/matplotlib-inline_1660814786464/work
mdit-py-plugins==0.3.5
mdurl==0.1.2
memory-profiler==0.61.0
mistune @ file:///home/conda/feedstock_root/build_artifacts/mistune_1657892024508/work
ml_dtypes==0.5.1
multidict==6.7.0
myst-nb==0.17.2
myst-parser==0.18.1
namex==0.1.0
narwhals==1.44.0
nbclassic @ file:///home/conda/feedstock_root/build_artifacts/nbclassic_1733410324217/work
nbclient==0.7.4
nbconvert @ file:///home/conda/feedstock_root/build_artifacts/nbconvert-meta_1735670330811/work
nbformat @ file:///home/conda/feedstock_root/build_artifacts/nbformat_1733402752141/work
nest_asyncio @ file:///home/conda/feedstock_root/build_artifacts/nest-asyncio_1733325553580/work
netCDF4==1.7.2
networkx==3.5
nodeenv==1.9.1
notebook @ file:///home/conda/feedstock_root/build_artifacts/notebook_1715848908871/work
notebook_shim @ file:///home/conda/feedstock_root/build_artifacts/notebook-shim_1682360583588/work
NREL-rex==0.4.3
num2words==0.5.14
numcodecs==0.15.1
numpy==2.3.4
numpy-financial==1.0.0
numpydoc==1.6.0
openmdao==3.38.0
openpyxl==3.1.5
opt_einsum==3.4.0
optree==0.17.0
overrides @ file:///home/conda/feedstock_root/build_artifacts/overrides_1691338815398/work
packaging==25.0
pandas==2.3.0
pandocfilters @ file:///home/conda/feedstock_root/build_artifacts/pandocfilters_1631603243851/work
panel==1.7.2
param==2.2.1
parameterized==0.9.0
parso @ file:///home/conda/feedstock_root/build_artifacts/parso_1638334955874/work
partd==1.4.2
pexpect @ file:///home/conda/feedstock_root/build_artifacts/pexpect_1667297516076/work
pickleshare @ file:///home/conda/feedstock_root/build_artifacts/pickleshare_1733327343728/work
pillow==11.2.1
pkgutil_resolve_name @ file:///home/conda/feedstock_root/build_artifacts/pkgutil-resolve-name_1733344503739/work
platformdirs @ file:///home/conda/feedstock_root/build_artifacts/platformdirs_1690813113769/work
playwright==1.53.0
pooch==1.8.2
pre_commit==4.2.0
prometheus-client @ file:///home/conda/feedstock_root/build_artifacts/prometheus_client_1649447152425/work
prompt_toolkit @ file:///home/conda/feedstock_root/build_artifacts/prompt-toolkit_1717574682739/work
propcache==0.4.1
protobuf==5.29.5
psutil @ file:///Users/runner/miniforge3/conda-bld/psutil_1740663164053/work
ptyprocess @ file:///home/conda/feedstock_root/build_artifacts/ptyprocess_1733302279685/work/dist/ptyprocess-0.7.0-py2.py3-none-any.whl#sha256=92c32ff62b5fd8cf325bec5ab90d7be3d2a8ca8c8a3813ff487a8d2002630d1f
pure-eval @ file:///home/conda/feedstock_root/build_artifacts/pure_eval_1642875951954/work
-e git+https://gitlab.windenergy.dtu.dk/TOPFARM/PyWake.git@25220e7b6fc4fed0e5a93c0d6a95aa53655828ef#egg=py_wake
pybtex==0.25.1
pybtex-docutils==1.0.3
pycodestyle==2.14.0
pycparser @ file:///home/conda/feedstock_root/build_artifacts/pycparser_1636257122734/work
pydata-sphinx-theme==0.12.0
pydocstyle==6.3.0
pyDOE2==1.3.0
pyDOE3==1.0.5
pyee==13.0.0
Pygments @ file:///home/conda/feedstock_root/build_artifacts/pygments_1750615794071/work
PyJWT==2.10.1
pyobjc-core @ file:///Users/runner/miniforge3/conda-bld/pyobjc-core_1736890746619/work
pyobjc-framework-Cocoa @ file:///Users/runner/miniforge3/conda-bld/pyobjc-framework-cocoa_1736926951827/work
pyparsing==3.2.3
pyproj==3.7.1
PySocks @ file:///home/conda/feedstock_root/build_artifacts/pysocks_1733217236728/work
python-dateutil @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_66ud1l42_h/croot/python-dateutil_1716495741162/work
python-json-logger @ file:///home/conda/feedstock_root/build_artifacts/python-json-logger_1677079630776/work
pytz==2025.2
pyviz_comms==3.0.6
pywake==0.1.3
PyYAML @ file:///Users/runner/miniforge3/conda-bld/pyyaml_1737454702303/work
pyzmq @ file:///Users/runner/miniforge3/conda-bld/pyzmq_1698062469480/work
referencing @ file:///home/conda/feedstock_root/build_artifacts/referencing_1691337268233/work
requests==2.32.5
requests-unixsocket==0.4.1
rfc3339_validator @ file:///home/conda/feedstock_root/build_artifacts/rfc3339-validator_1733599910982/work
rfc3986-validator @ file:///home/conda/feedstock_root/build_artifacts/rfc3986-validator_1598024191506/work
rich==14.0.0
rpds-py @ file:///Users/runner/miniforge3/conda-bld/rpds-py_1697072233703/work
s3fs==2025.10.0
scikit-learn==1.7.0
scipy==1.16.0
Send2Trash @ file:///Users/runner/miniforge3/conda-bld/send2trash_1682601407921/work
shapely==2.1.1
simplejson==3.20.2
six @ file:///home/conda/feedstock_root/build_artifacts/six_1733216807016/work
sniffio @ file:///home/conda/feedstock_root/build_artifacts/sniffio_1662051266223/work
snowballstemmer==3.0.1
soupsieve @ file:///home/conda/feedstock_root/build_artifacts/soupsieve_1746564962163/work
Sphinx==5.0.2
sphinx-book-theme==0.4.0rc1
sphinx-comments==0.0.3
sphinx-copybutton==0.5.2
sphinx-jupyterbook-latex==0.5.2
sphinx-last-updated-by-git==0.3.8
sphinx-multitoc-numbering==0.1.3
sphinx-sitemap==2.7.2
sphinx-thebe==0.2.1
sphinx-togglebutton==0.3.2
sphinx_design==0.3.0
sphinx_external_toc==0.3.1
sphinxcontrib-applehelp==2.0.0
sphinxcontrib-bibtex==2.5.0
sphinxcontrib-devhelp==2.0.0
sphinxcontrib-htmlhelp==2.1.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==2.0.0
sphinxcontrib-serializinghtml==2.0.0
SQLAlchemy==2.0.41
stack-data @ file:///home/conda/feedstock_root/build_artifacts/stack_data_1644872665635/work
tabulate==0.9.0
tensorboard==2.19.0
tensorboard-data-server==0.7.2
tensorflow==2.19.0
tensorflow-io-gcs-filesystem==0.37.1
termcolor==3.1.0
terminado @ file:///Users/runner/miniforge3/conda-bld/terminado_1670254106711/work
testflo==1.4.20
threadpoolctl==3.6.0
tinycss2 @ file:///home/conda/feedstock_root/build_artifacts/tinycss2_1666100256010/work
toml==0.10.2
tomli @ file:///home/conda/feedstock_root/build_artifacts/tomli_1733256695513/work
toolz==1.1.0
topfarm==2.5.3
tornado @ file:///Users/runner/miniforge3/conda-bld/tornado_1724956123063/work
tqdm==4.67.1
traitlets @ file:///home/conda/feedstock_root/build_artifacts/traitlets_1733367359838/work
types-python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/types-python-dateutil_1747417193651/work
typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/typing_extensions_1712329955671/work
typing_utils @ file:///home/conda/feedstock_root/build_artifacts/typing_utils_1733331286120/work
tzdata==2025.2
uc-micro-py==1.0.3
uri-template @ file:///home/conda/feedstock_root/build_artifacts/uri-template_1733323593477/work/dist
urllib3==2.5.0
utm==0.8.1
virtualenv==20.31.2
wcwidth @ file:///home/conda/feedstock_root/build_artifacts/wcwidth_1600965781394/work
webcolors @ file:///home/conda/feedstock_root/build_artifacts/webcolors_1733359735138/work
webencodings @ file:///home/conda/feedstock_root/build_artifacts/webencodings_1733236011802/work
websocket-client @ file:///home/conda/feedstock_root/build_artifacts/websocket-client_1733157342724/work
websockets==15.0.1
Werkzeug==3.1.3
WESL @ git+https://github.com/rafaelvalotta/WESL.git@2ff456623ea836785197c148fb39a68b8aade921
widgetsnbextension==4.0.14
wrapt==1.17.2
xarray==2025.6.1
xyzservices==2025.4.0
yarl==1.22.0
zipp @ file:///home/conda/feedstock_root/build_artifacts/zipp_1749421620841/work
zstandard==0.23.0
